---
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import {
	DEFAULT_TITLE,
	DEFAULT_DESCRIPTION,
} from "@constants/DEFAULT_METADATA";

const lang = i18next.language;
const dir = i18next.dir(lang);
const isEN = lang === "en";
const fontFamilyClass = isEN ? "font-en" : "font-ar";

const hasCustomMetadata = Astro.props?.hasCustomMetadata;

const title = hasCustomMetadata
	? t("metadata.title")
	: isEN
		? DEFAULT_TITLE.EN
		: DEFAULT_TITLE.AR;

const description = hasCustomMetadata
	? t("metadata.description")
	: isEN
		? DEFAULT_DESCRIPTION.EN
		: DEFAULT_DESCRIPTION.AR;
---

<!doctype html>
<html lang={lang} dir={dir}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href={`https://fonts.googleapis.com/css2?${lang == "en" ? "family=Montserrat:ital,wght@0,100..900;1,100..900" : "family=Almarai:wght@300;400;700;800"}&display=swap`}
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<HeadHrefLangs />
	</head>
	<body
		class=`${fontFamilyClass} bg-slate-100 dark:bg-neutral-950 transition-colors`
	>
		<slot />src/constants/DEFAULT_METADATA
	</body>
</html>
